<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Frontend Test No A7</title>
        <link type="text/css" rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <table id="mainTable">
            <tr id="tableRow">
                <td id="collumInput">
                    <div id="divForm">
                        <form>
                            <table>
                                <tr id="tableLabelRow">
                                    <th id="labelRow">
                                        <label id="qtt" for="qtt">Quantity</label>
                                    </th>
                                </tr>
                                <tr id="tableInputRow">
                                    <td id="inputRow">
                                        <div id="inputDiv">
                                            <input id="rows" name="rows" placeholder="Type here">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </td>
                <td id="collumItens">
                    <ul id="list">
                    </ul>
                </td>
            </tr>
        </table>
        <script type="module" src="./script.js"></script>
    </body>
</html>